#root {
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.wordShow {
  font-size: 2em;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #root {
      padding: 0.5rem;
  }
  .wordShow {
      font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .wordShow {
      font-size: 1.2em;
  }
}
